.ColorAdd {

    /* w20rem */
    width: 20rem;

    /* df */
    display: flex;

    /* fledi */
    flex-direction: column;

    /* p1rem */
    padding: 1rem;

}

.ColorAdd label {
    /* df */
    display: flex;
    /* fledi */
    flex-direction: column;
    /* p1rem */
    padding: .5rem;
}